@model IEnumerable<Domain.Entities.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Movies</h2>

<table class="Grid">
    <tr>
        <th>@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParam })</th>
        <th>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam })</th>
        <th class="NumericCol">@Html.ActionLink("Premiere Date", "Index", new { sortOrder = ViewBag.PremiereDateSortParam })</th>
        <th class="NumericCol">@Html.ActionLink("Length", "Index", new { sortOrder = ViewBag.LengthSortParam })</th>
        <th class="NumericCol">@Html.ActionLink("Age Limit", "Index", new { sortOrder = ViewBag.AgeLimitSortParam })</th>
        <th class="NumericCol">@Html.ActionLink("Budget", "Index", new { sortOrder = ViewBag.BudgetSortParam })</th>
        <th class="NumericCol">@Html.ActionLink("KP", "Index", new { sortOrder = ViewBag.KPSortParam })</th>
        <th class="NumericCol">@Html.ActionLink("IMDB", "Index", new { sortOrder = ViewBag.IMDBSortParam })</th>
        <th class="NumericCol">MS</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.MovieID</td>
        <td>@Html.ActionLink(item.Title, "Edit", new { item.MovieID })</td>
        <td class="NumericCol">@item.PremiereDate.ToString("yyyy/MM/dd")</td>
        <td class="NumericCol">@item.Length</td>
        <td class="NumericCol">@item.RatingAgeLimit</td>
        <td class="NumericCol">$@item.Budget</td>
        <td class="NumericCol">@item.RatingKP</td>
        <td class="NumericCol">@item.RatingIMDB</td>
        <td>
            @using (Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("MovieID", item.MovieID)
                <input type="submit" value="Delete"/>
            }
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Add a new movie", "Create")</p>
