@model IEnumerable<Domain.Entities.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Movies (@Model.Count())</h2>

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <p>
        @Html.Hidden("SortOrder", ViewBag.CurrentSort as string)
        Find by title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="Grid">
    <tr>
        <th>@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th class="NumericCol">@Html.ActionLink("Premiere Date", "Index", new { sortOrder = ViewBag.PremiereDateSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th class="NumericCol">@Html.ActionLink("Length", "Index", new { sortOrder = ViewBag.LengthSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th class="NumericCol">@Html.ActionLink("Age Limit", "Index", new { sortOrder = ViewBag.AgeLimitSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th class="NumericCol">@Html.ActionLink("Budget", "Index", new { sortOrder = ViewBag.BudgetSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th class="NumericCol">@Html.ActionLink("KP", "Index", new { sortOrder = ViewBag.KPSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th class="NumericCol">@Html.ActionLink("IMDB", "Index", new { sortOrder = ViewBag.IMDBSortParam, searchString = ViewBag.CurrentFilter })</th>
        <th class="NumericCol">MS</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.MovieID</td>
        <td>@Html.ActionLink(item.Title, "Edit", new { item.MovieID })</td>
        <td class="NumericCol">@item.PremiereDate.ToString("yyyy/MM/dd")</td>
        <td class="NumericCol">@item.Length</td>
        <td class="NumericCol">@item.RatingAgeLimit</td>
        <td class="NumericCol">$@item.Budget</td>
        <td class="NumericCol">@item.RatingKP</td>
        <td class="NumericCol">@item.RatingIMDB</td>
        <td>
            @using (Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("MovieID", item.MovieID)
                <input type="submit" value="Delete"/>
            }
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Add a new movie", "Create")</p>
